.AllListings__listingTypes {
    display: flex;
    padding: 20px;
}

.AllListings__image {
    width: 300px;
}

.AllListings__changeCP {
    position: relative;
    top: 0px;
    right: 0px;
    width: 300px;
}

.AllListings__imageContainer {
    max-width: 350px;
}

.AllListing__firstRow {
    display: flex;
    padding: 20px;
    margin: 10px 150px;
    border: 1px solid lightgray;
}

.AllListing__secondRow {
    display: flex;
    padding: 20px;
    margin: 10px 150px;
    border: 1px solid lightgray;
}

/* .AllListings__details {
} */

.details__name {
    font-weight: bold;
}

.details__lastUpdate {
    font-weight: lighter;
}

.details__firstRow {
    display: flex;
    align-items: center;
}

.details__status {
    background: green;
    border-radius: 20%;
    color: white;
    margin: 10px;
    width: 60px;
}

.details__bottomRow {
    position: relative;
    top: 110px;
    justify-content: space-between;
}

.ListingStatus__tag {
    /* location styling */
    position: relative;
    left: 130px;
}

.AllListing__pricing {
    width: 300px;
    padding-right: 50px;
}
.AllListings__priceB {
    width: 300px;
}

.AllListing__pricingTitle {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.pricing__row {
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.AllListing__estimate {
    font-weight: bold;
}

.AllListings__graph {
    width: 500px;
}